.benefit {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: center;
  margin-top: 2rem;
}
.all-ser {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

.all-ser .d-inline-block {
  vertical-align: middle;
}

.all-ser .ser-block {
  text-align: center;
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.all-ser i {
  color: #51aa1b;
  font-size: 34px;
  width: 50px;
  text-align: center;
}

.ser-co {
  padding-left: 20px;
}

.ser-co h5 {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 5px;
}

.ser-co h6 {
  color: #7e7e7e;
  font-size: 13px;
  margin-top: 5px;
}
