.category-list {
  width: 100%;
  margin-left: 0.5rem;
  margin-top: 1rem;
  transition: height 1s ease-in-out;
  padding: 0.5rem;
  z-index: 1;
}

.category-listItem {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.category-listItem > i {
  position: absolute;
  right: 0;
}

.category-children-list {
  display: none;
  margin-left: 1rem;
  flex-direction: column;
}
