.categoryProduct {
  padding-left: 20px;
  padding-right: 20px;
}
.categoryProduct-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}

.categoryProduct-header-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.categoryProduct-content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.categoryProduct-category-filter,
.categoryProduct-price-filter,
.categoryProduct-rating-filter {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}
.categoryProduct-category-filter li label,
.categoryProduct-price-filter li label,
.categoryProduct-rating-filter li label {
  padding-left: 0.5rem;
}

.categoryProduct-layout > * {
  margin-right: 1rem;
}

.categoryProduct-sortby {
  margin-right: 1rem;
}
.categoryProduct-header-breadcrumbs,
.categoryProduct-display-options {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.categoryProduct-right {
  padding: 1rem;
}

.categoryProduct-product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content max-content max-content max-content max-content;
  padding: 20px;
  background-color: white;
  place-items: center;
  column-gap: 2.5rem;
}

.categoryProduct-pagination-cursor {
  display: flex;
  justify-content: flex-end;
}

.categoryProduct-pagination-cursor > a {
  padding: 0.5rem;
  background-color: #3bac44;
  color: white;
}
