.checkout {
  padding: 1rem;
  flex: 1;
}

.checkout-layout {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  column-gap: 2rem;
}

.checkout-categories {
  padding: 1rem;
  background-color: white;
  height: max-content;
}

.checkout-process-step {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.checkout-process-step-info-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #ddd;
  column-gap: 2rem;
}

.checkout-process-step-info-1-left,
.checkout-process-step-info-1-right {
  padding: 1rem;
}

.checkout-primary-btn {
  background-color: #ffba00;
  border-radius: 4px;
  padding: 0.5rem;
}

.checkout-process-step-info-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.checkout-process-step-info-2-group {
  display: flex;
}

.checkout-process-step-info-2-section {
  display: flex;
  flex-direction: column;
}

.checkout-process-step-info-2-section input[type="text"] {
  border: 1px solid #888;
  margin: 0.5rem 0;
}
