.footer {
  background-color: #3bac44;
  padding: 2rem;
  color: white;
  font-size: 12px;
}

.footer-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

@media screen and (min-width: 560px) {
  .footer-sections {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer-section-title {
  font-size: 1rem;
  font-weight: 500;
}

.footer-payment-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #5fba66;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
