.home-top {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
}

.home-top-left {
  display: none;
}

.home-top-left,
.home-top-right {
  padding-top: 1rem;
}

@media screen and (min-width: 740px) {
  .home-top {
    grid-template-columns: 0.5fr 1fr;
  }
  .home-top-left {
    display: flex !important;
  }
}

.home-categories {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 4px;
}

.home-categories > span {
  font-size: 1.5rem;
  font-weight: 300;
}

/* .home-category-list {
  width: 100%;
  margin-left: 0.5rem;
  margin-top: 1rem;
  transition: height 1s ease-in-out;
  padding: 0.5rem;
}

.home-category-listItem {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.home-category-listItem > i {
  position: absolute;
  right: 0;
}

.home-category-children-list {
  display: none;
  margin-left: 1rem;
  flex-direction: column;
} */

.home-top-right-advertisement {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 2fr 1fr; */
  column-gap: 2rem;
  place-items: center;
  height: auto;
}

@media screen and (min-width: 500px) {
  .home-top-right-advertisement {
    grid-template-columns: 2fr 1fr;
  }
}

.home-top-right-advertisement-banner {
  display: grid;
  /* grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem; */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr !important;
  place-content: center;
  row-gap: 1rem;
}

@media screen and (min-width: 500px) {
  .home-top-right-advertisement-banner {
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr !important;
  }

  .home {
    padding: 1rem;
    /* padding: 0 8rem; */
  }
}

@media screen and (min-width: 1000px) {
  .home {
    padding: 0 8rem;
  }
}

@media screen and (min-width: 950px) {
  .home {
    padding: 0 5rem;
  }
}

.home-collection {
  margin-top: 1rem;
}

.home-collection-tabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.home-collection-tabs > * {
  margin-right: 1rem;
  cursor: pointer;
}

.home-collection-tab-active {
  border-bottom: 4px solid #ffba00;
}

.home-collection-products {
  margin-top: 1rem;
  background-color: white;
}
