.login {
  padding: 1rem;
  min-height: 63.7vh;
}

.login-layout {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  column-gap: 2rem;
}

.login-categories {
  background-color: white;
  padding: 1rem;
  height: 100%;
}

.login-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  color: #888;
  height: max-content;
}

.login-go-to-register,
.login-form {
  background-color: white;
  padding: 1rem;
}

.login-go-to-register-title,
.login-form-title {
  color: black;
}

.login-go-to-register-subtitle,
.login-form-subtitle {
  font-weight: 700;
}

.login-go-to-register-btn,
.login-form-btn {
  background-color: #ffba00;
  border-radius: 4px;
  padding: 0.5rem;
}

.login-form > *,
.login-go-to-register > *,
.login-form > form > * {
  margin-bottom: 1rem;
}
