.mini-carousel-left,
.mini-carousel-right {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 9999;
}

.mini-carousel-left {
  cursor: pointer;
  top: 25%;
  left: 0;
}

.mini-carousel-left:hover,
.mini-carousel-right:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.mini-carousel-right {
  cursor: pointer;
  top: 25%;
  right: 0;
}
