.mycart {
  padding: 1rem;
  min-height: 59.4vh;
}

.mycart-layout {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  column-gap: 2rem;
}

.mycart-categories {
  background-color: white;
  padding: 1rem;
  height: max-content;
}

.mycart-product {
  background-color: white;
}

.mycart-table {
  width: 100%;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}

.mycart-table-header,
.mycart-table-data {
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
  max-width: 10rem;
}

.mycart-table-data {
  vertical-align: middle;
  text-align: center;
}

.mycart-checkout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.mycart-checkout-btn {
  background-color: #ffba00;
  border-radius: 4px;
  padding: 0.5rem;
}

.mycart-checkout-btn > i {
  margin-right: 8px;
}
