.nav {
  position: sticky;
  z-index: 5;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* padding: 1rem 20%; */
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 5px #ebebeb;
  flex-wrap: wrap;
}

.nav-search {
  display: none;
  border: 2px solid #eeeeee;
  border-radius: 4px;
}

.mobile-home-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #ffba00;
  border-radius: 0.5rem;
  position: relative;
}

.mobile-home-categories-dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 135%;
  background-color: white;
  width: 100%;
  z-index: 9999;
}

.mobile-home-categories-right {
  display: flex;
  align-items: center;
}

.mobile-home-categories-right > * {
  margin: 4px;
}

@media screen and (min-width: 590px) {
  .nav {
    justify-content: center;
  }
  .nav-search {
    display: block;
  }
}

@media screen and (min-width: 740px) {
  .nav {
    justify-content: space-between;
    padding: 1rem 5%;
  }
  .mobile-home-categories {
    display: none;
  }
}

.nav-search > input[type="text"] {
  padding: 0.5rem;
}

.nav-search > a {
  padding: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 0 4px 4px 0;
}

.nav-search > select {
  border-left: 1px solid black;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
}
