.navtop {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 10%;
  font-size: 12px;
  z-index: 9999;
  /* color */
  background-color: var(--primary);
  color: white;
}

.navtop-right {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.navtop-right-option {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.navtop-right-option > span {
  margin-right: 4px;
}

.navtop-dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  top: calc(100% + 0.5rem);
  color: black;
  right: 0;
  width: 100%;
  border: 1px solid #f0f0f0;
  z-index: 9999;
  background-color: white;
  padding: 0 0.5rem;
  border-radius: 4px;
}

.navtop-cart {
  position: absolute;
  right: -3rem;
  top: -2rem;
  padding: 2.5rem 1rem 1rem 1rem;
  background-color: #ffba00;
  border-radius: 0 0 50% 50%;
  z-index: 9999;
  display: none;
}

@media screen and (min-width: 750px) {
  .navtop-cart {
    display: block;
  }

  .navtop {
    justify-content: space-between;
  }
}

.navtop-cart > i {
  font-size: 1rem;
  color: black;
}

.navtop-cart-counter {
  height: 14px;
  width: 14px;
  background-color: white;
  position: absolute;
  right: 3px;
  top: 28px;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 10px;
}
