.productDetail {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.productDetail-detail {
  display: flex;
  background-color: white;
  padding: 2rem;
  width: 100%;
  justify-content: space-between;
}
.price-line-through {
  text-decoration-line: line-through;
  color: red;
  padding-right: 1rem;
}
.product-info-price span {
  font-size: x-large;
}
.price-after-discount {
  color: #3bac44;
}
.productDetail-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productDetail-info-id {
  font-weight: 200;
}
.productDetail-info-id div {
  display: flex;
  justify-content: space-between;
}
.product-info-price div {
  display: flex;
  justify-content: space-between;
}

.product-info-price {
  width: 100%;
  font-weight: 300;
}

.productDetail-images-single {
  max-width: 15rem;
  height: auto;
}

.productDetail-images-single > img {
  max-width: 100%;
  height: auto;
}

.productDetail-images-many {
  max-width: 10rem;
}

.productDetail-info {
  margin-left: 2rem;
  padding-top: 0rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.productDetail-header-title {
  display: flex;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}
.productDetail-header-title p {
  padding-right: 10px;
}

.productDetail-info-title {
  font-weight: bold;
  font-size: x-large;
}
.productDetail-body {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  width: 100%;
  column-gap: 5rem;
}

.productDetail-categories {
  background-color: white;
  padding: 1rem;
}

.discount-price {
  display: flex;
  flex-direction: row;
}

.product-btn {
  background-color: #3bac44;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
}

.categoryList {
  background-color: white;
  padding: 2rem 2.5rem 2rem 2rem;
  height: auto;
  position: sticky;
}
.productRelated-products {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
}
.productQuantity {
  display: flex;
  justify-content: space-between;
}
.productQuantity input {
  width: 50px;
  padding-left: 5px;
}
.product-avaibility {
  background-color: rgb(233, 233, 233);
  padding: 1rem;
  height: auto;
  margin-left: 20px;
  width: 40%;
}
.product-avaibility div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-end;
}
.product-avaibility div .instock {
  color: #3bac44;
}
.product-avaibility div .outstock {
  color: red;
}

.price-after-discount span {
  font-size: x-large;
}
.productRelated-tab {
  margin-top: 20px;
  margin-bottom: 10px;
}

.productRelated-tab p {
  width: 15%;
  border-bottom-width: auto;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 186, 0);
}
