.product-card {
  padding: 1rem;
  max-width: max-content;
}

.product-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-line-through {
  text-decoration-line: line-through;
  color: red;
  padding-right: 1rem;
}

.product-card-image {
  border: 1px solid #eee;
  padding: 0.5rem;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.product-card-image img {
  object-fit: contain;
}

.product-card-image > img {
  height: auto;
  max-width: 10rem;
}

.product-card-extra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card-price {
  color: #3bac44;
  display: flex;
  flex-direction: row;
}
