.product-result-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
}

.product-result {
  padding: 0 8rem;
}

.product-result-title {
  color: var(--primary);
  margin: 1rem;
  display: flex;
  align-items: center;
}

.product-result-title > i {
  font-size: 2rem;
  margin-left: 1rem;
}
