.register {
  padding: 1rem;
  min-height: 63.7vh;
}

.register-layout {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  column-gap: 2rem;
  color: #888;
}

.register-categories,
.register-form-section {
  background-color: white;
  padding: 1rem;
}

.register-form-section {
  height: max-content;
  margin-bottom: 0.5rem;
}

.register-form-title {
  font-size: 1.5rem;
  /* padding-bottom: 0.5rem; */
  color: black;
  /* border-bottom: 1px solid #888; */
  /* margin-bottom: 0.5rem; */
}

.register-form-section > form > * {
  margin-bottom: 1rem;
}

.register-form-section > form {
  padding-top: 0.5rem;
  border-top: 1px solid #888;
  margin-top: 0.5rem;
}

.register-form-btn {
  background-color: #ffba00;
  border-radius: 4px;
  padding: 0.5rem;
}
