@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f7f2;
}

:root {
  --primary: #3bac44;
}

i {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input[type="text"] {
  outline: none;
  border: none;
}

select {
  outline: none;
  border: none;
  background: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.show {
  display: flex !important;
}

.container {
  padding: 1rem 10%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.owl-item {
  display: flex;
  justify-content: center;
}

.fa-stack {
  font-size: 6px;
  color: #fc0;
  margin: 5px 0px 7px 0px;
}

.error {
  color: red;
}
